@font-face {
  font-family: 'Antic Slab';
  src: local('Antic Slab'), url('./res/fonts/AnticSlab-Regular.ttf') format('opentype');
}

/* *{
  font-family: 'Helvetica';
} */

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}